body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bar {
    padding: 0;
    margin: 0;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
}
.bar_l {
    padding: 0;
    margin-left: 10px;
    position: absolute;
    left: 0;
}
.bar_r {
    justify-content: right;
}
.topo {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
.pesquisa {
    position: absolute;
    right: 0;
    margin-right: 10px;
    padding-top: 20px;
}
img {
    width: 100%;
    border: 1px solid #8d8c8c6d;
}
ul {
    list-style: none;
    padding-left: 5px;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
hr {
    border: none;
    height: 1px;
    background-color: #9797976d;
}
.content {
    padding: 0;
    max-width: 1440px;
    margin: auto;
    grid-gap: 1rem;
    display: grid;
    gap: 0.5;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0rem,20rem) minmax(0,2.5fr) minmax(0,15rem);
}
.BeB {
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.leftSide {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.leftSide span{
    margin: 0;
    align-self: center;
    text-align: center;
    width: 100%;
}
.leftSide p {
    margin: 0;
    margin-left: 5px;
    padding: 0;
    width: calc(50% - 10px);
    box-sizing: border-box;
}
.leftSide hr {
    width: 100%;
    border: none;
    background-color: #9e9e9e8b;
    margin: 0px 0;
}
.audio-container {
    padding: 0;
    margin: auto;
    font-size: 15px;
    background-color: #ffffff;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    font-size: 15px;
    width: 300px;
    border: solid 1px #cdcdcd;
    text-align: center;
}
main {
    padding: 2px;
}
.figureT {
    border: 1px solid #8d8c8c6d;
    padding: 5px;
    background-color: #fff0f0;
    margin-left: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 220px;
}
figure {
    border: 1px solid #8d8c8c6d;
    padding: 5px;
    background-color: #fff0f0;
    margin-left: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 220px;
}
figcaption {
    text-align: left;
    font-size: 12px;
    margin-top: 0px;
}
.figureR {
    border: 1px solid #8d8c8c6d;
    padding: 5px;
    background-color: #fff0f0;
    margin-left: 0px;
    float: right;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 220px;
}
.figcaptionR {
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-top: 0px;
}
